<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--styles-->
    <link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.css">
    <!--scripts-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!---->
    <script src="js/nav-bar.js"></script>
    <script src="js/auth/token-processor.js"></script>
    <script src="js/auth/sign-up.js"></script>

    <title>Sign up</title>
</head>
<body ng-app="SignUpApp">

<header>
    <!--navigation bar-->
    <div id="navBarContainer"></div>
</header>

<section class="container" ng-controller="UserSignUpCtrl">
    <article class="col-sm-4"></article>
    <article class="col-sm-4">
        <!--sign Un form-->
        <form ng-submit="submit()">
            <input ng-model="user.login" type="text" name="user" class="form-control" placeholder="Login" required/>
            <input ng-model="user.email" type="text" name="email" class="form-control" placeholder="E-mail" required/>
            <input ng-model="user.password" type="password" name="pass" class="form-control" placeholder="Password" required/>
            <input ng-model="confirmPasswordValue" type="password" name="pass" class="form-control" placeholder="Confirm password" required/>
            <button type="button" ng-click="signUp()" class="btn btn-lg btn-primary btn-block">Sign up!</button>
        </form>
        <div>
            {{error}}
            {{messageToUser}}
        </div>
    </article>
    <article class="col-sm-4"></article>

</section>

</body>
<script>
    //render nav-bar
    NavigationBar.renderIn("navBarContainer");
</script>
</html>