<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--styles-->
    <link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.css">
    <!--scripts-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!---->
    <script src="js/nav-bar.js"></script>
    <script src="js/auth/token-handler.js"></script>
    <script src="js/auth/sign-in.js"></script>

    <title>Sign in</title>
</head>
<body ng-app="SignInApp">
<header>
    <!--navigation bar-->
    <div id="navBarContainer"></div>
</header>
<section class="container" ng-controller="UserSignInCtrl">
    <article class="row">
        <article class="modal-dialog">
            <div class="modal-content">
                <!-- modal header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Please, sign in</h4>
                </div>
                <div class="modal-body">
                    <!--sign In form-->
                    <span ng-show="isAuthenticated">{{welcome}}</span>

                    <form ng-show="!isAuthenticated" ng-submit="submitSignInForm()" name="signInForm">
                        <fieldset>
                            <!-- login -->
                            <div class="form-group"
                                 ng-class="{'has-error': signInForm.formLogin.$touched && signInForm.formLogin.$invalid}">
                                <label ng-show="signInForm.formLogin.$touched && signInForm.formLogin.$invalid"
                                       class="control-label" for="userLoginInput">Invalid login</label>
                                <input id="userLoginInput" ng-model="user.login"
                                       type="text" name="formLogin" class="form-control" placeholder="Login"
                                       required=""/>
                            </div>

                            <!-- password -->
                            <div class="form-group"
                                 ng-class="{'has-error': signInForm.formPassword.$touched && signInForm.formPassword.$invalid}">
                                <label ng-show="signInForm.formPassword.$touched && signInForm.formPassword.$invalid"
                                       class="control-label" for="userPasswordInput">Invalid password</label>
                                <input id="userPasswordInput" ng-model="user.password" type="password"
                                       name="formPassword" class="form-control" placeholder="Password" required=""/>
                            </div>
                        </fieldset>
                        <button type="button" ng-disabled="signInForm.$invalid" ng-click="submitSignInForm()"
                                class="btn btn-primary btn-block">Sign in
                        </button>
                    </form>
                    <!-- show validation error message if exists-->
                    <div ng-show="loginErrorMessage !== ''" class="alert alert-danger">
                        <strong>Login problem!</strong> {{loginErrorMessage}}
                    </div>
                </div>
            </div>
        </article>
    </article>
</section>

</body>
<script>
    //render nav-bar
    NavigationBar.renderIn("navBarContainer");
</script>
</html>